a {
    color: #3377bb;
    font-size: small;
}

#profil_name 
{
    text-align-last: center;
}

.project_links
{
    color: #666666;  
    font-size: large;
}

#profil_links_container
{
    text-align-last: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: inline-flex;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 20px;
    line-height: 2.5;
    font-size: medium;
    color: #999999;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #595959;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    color: #393939;
    font-weight: bold;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }