a {
    color: #3377bb;
    font-size: small;
}

#profil_name 
{
    text-align-last: center;
}

.project_links
{
    color: #666666;  
    font-size: large;
}

#profil_links_container
{
    text-align-last: center;
}